

<section class="bar background-white no-mb">
        <div class="container">
            {{ if isset .Site.Params "bios" }}
            {{ if .Site.Params.bios.enable }}
            {{ if gt (len .Site.Data.bios) 0 }}
            {{ range $index, $element := sort .Site.Data.bios "weight" }}

            <div class="post">
                <div class="row">
                    <div class="col-md-4 box-simple">
                        <div class="">
                            <img src="{{ $element.photo }}" class="bio-image">
                        </div>
                    </div>
                    <div class="col-md-8 box-simple">
                        <h4>{{ $element.name }} - {{ $element.position }}</h4>
                        <div class="text-left">
                            <p>{{ $element.description | markdownify }}</p>
                        </div>
                        <div class="social">
                            {{ if $element.linkedin }}
                            <a href="{{ $element.linkedin }}" target="_blank" style="opacity: 1;"><i class='fa fa-2x fa-linkedin'></i></a>
                            {{ end }}
                            {{ if $element.github }}
                                <a href="{{ $element.github }}" target="_blank" style="opacity: 1;"><i class='fa fa-2x fa-github'></i></a>
                            {{ end }}
                            {{ if $element.twitter }}
                                <a href="{{ $element.twitter }}" target="_blank" style="opacity: 1;"><i class='fa fa-2x fa-twitter'></i></a>
                            {{ end }}
                            {{ if $element.email }}
                            <a href="mailto:{{ $element.email }}" target="_blank" style="opacity: 1;"><i class='fa fa-2x fa-envelope'></i></a>
                            {{ end }}

                        </div>
                    </div>
                </div>
            </div>
        {{ end }}
        {{ end }}
        {{ end }}
        {{ end }}
    </div>
</section>
