{{ if isset .Site.Params "casestudy" }} {{ if .Site.Params.casestudy.enable }}
<section class="bar background-preqin mb-0" id="casestudy">
    <div class="container preqin">
        <div class="col-md-12">
            <div class="heading text-center">
                <h2>{{ .Site.Params.casestudy.title }}</h2>
            </div>
            <p class="lead">
                {{ .Site.Params.casestudy.subtitle | markdownify }}
            </p>
        </div>
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-4 text-center">
                    <img src="{{ .Site.BaseURL}}/img/preqin-logo.png">
                </div>
                <div class="col-md-8">
                    <h3>The Client</h3>
                    <p>
                        Preqin is a leading source of data and intelligence for the alternative assets industry. Through their
                        online tools, they provide data and information on investment funds in the private equity, real estate,
                        hedge fund, infrastructure, private debt and natural resource sectors to support fundraising, marketing
                        and market research. Their clients are the cream of the investment industry ranging from Investment Banks,
                        Pension Funds, Hedge Funds, Brokers, Financial Institutions and Insurance Companies through to Market Makers
                        and Day Traders. It is an industry sector that demands a high level of service 24/7.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="text-left">
                        <h3>First Contact</h3>
                        <p>
                            Preqin were approaching the end of a project to develop a new version of their investment intelligence
                            software to provide a better experience for their users.
                        </p>
                        <p>
                            Under pressure to meet their deadlines, they engaged Elastic Mint to provide some “extra muscle”. Key
                            to their requirements was that Elastic Mint could provide a team experienced
                            enough to hit the ground running so as not to add a burden to their already busy team.
                        </p>
                        <p>
                            An Elastic Mint team was deployed to focus on moving fund-related data from their SQL Server database
                            into Elasticsearch, and then exposing that data through a .Net Core web service to the user interface.
                        </p>
                        <p>
                            Our first task was to understand their business, meet the development team and get up to speed with the
                            current state of the project...quickly!
                        </p>
                        <p>
                            Through open conversation and collaboration we rapidly built trust with the existing team. Recognising
                            the tight deadline they were working to, and the challenges they had already faced on the project, we
                            looked to where we could add the most value in the most immediate and value-adding way.
                        </p>
                        <p>
                            Focusing specifically on the hedge fund area of the application, we were involved in making design
                            and architectural decisions, carrying out spikes to test ideas, and investigating solutions to problems
                            that arose. We worked closely with developers from Preqin, helping to solve problems both inside and
                            outside of the immediate scope of work, sharing knowledge and ultimately producing a solution that met
                            Preqin’s needs.
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-offset-2 col-md-8">
                    <div class="m-20">
                        <i class="fa fa-quote-left"></i>
                        <em m-10 mt-0 mr-0 mb-0>Throughout this project I received feedback on how well Elastic Mint worked with our team. 
                            They were always accessible, responding quickly to messages and ready to help us think through 
                            any challenges.</em>
                        <i class="fa fa-quote-right"></i>
                    </div>
                    <div class="testimonial-name p-20 pt-0 pr-0 pl-0">
                        <h5>Daniel Barnes</h5>
                        <h6>Senior Vice President Engineering</h6>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <div class="text-left">
                        <h3>Evolving the Partnership</h3>
                        <p>
                            Following the successful delivery of Preqin's investment intelligence platform we have built on the
                            close relationships we had with key stakeholders in their engineering team to form an ongoing partnership
                            where we could share our knowledge and experience.
                        </p>
                        <p>
                            Initially Elastic Mint worked with Preqin's new Programme Manager and Scrum Master, helping to drive
                            the adoption of Scrum within teams and providing leadership on Scrum practices and setting an example
                            through leading one of their teams.
                        </p>
                        <p>
                            Following on from this we have worked closely
                            with Preqin's architect to provide technical leadership. This partnership has been invaluable to
                            Preqin as they have rapidly grown a large team in Bangalore, India, who have appreciated the support
                            they have received from Elastic Mint's experienced staff.
                        </p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="text-left">
                        <div class="box-image tech-stats">
                            <img src="{{ .Site.BaseURL}}/img/preqin-tech-stats.png">
                            <p><i>Technology Stack</i></p>
                        </div>
                    </div>
                </div>
            </div>
            <!--<div class="row">
        <div class="col-md-12">
            <div class="text-left">
                <h3>The Challenge</h3>
                <p>
                    Preqin were approaching the end of a project to develop a new version of their investment intelligence
                    software to provide a better experience for their users.
                </p>
                <p>
                    Under pressure to meet their deadlines, they engaged Elastic Mint to provide some “extra muscle and
                    technical leadership”. Key to their requirements was that Elastic Mint could provide a team experienced
                    enough to hit the ground running so as not to add a burden to their already busy team.
                </p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <div class="text-left">
                <h3>Our Solution</h3>
                <p>
                    An Elastic Mint team was deployed to focus on moving fund-related data from their SQL Server database
                    into Elasticsearch, and then exposing that data through a .Net Core web service to the user interface.
                </p>
                <p>
                    Our first task was to understand their business, meet the development team and get up to speed with the
                    current state of the project...quickly!
                </p>
                <p>
                    Through open conversation and collaboration we rapidly built trust with the existing team. Recognising
                    the tight deadline they were working to, and the challenges they had already faced on the project, we
                    looked to where we could add the most value in the most immediate and value-adding way.
                </p>
                <p>
                    Focusing specifically on the hedge fund area of the application, we were involved in making design
                    and architectural decisions, carrying out spikes to test ideas, and investigating solutions to problems
                    that arose. We worked closely with developers from Preqin, helping to solve problems both inside and
                    outside of the immediate scope of work, sharing knowledge and ultimately producing a solution that met
                    Preqin’s needs.
                </p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="text-left">
                <div class="box-image tech-stats">
                    <img src="{{ .Site.BaseURL}}/img/preqin-tech-stats.png">
                    <p><i>Technology Stack</i></p>
                </div>
            </div>
        </div>
    </div>-->
            <div class="row">
                <div class="col-md-12">
                    <p class="read-more text-center">
                        <a href="{{ .Site.BaseURL }}/#contact" class="btn btn-template-main-blue scroll-to">Start a conversation</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
{{ end }} {{ end }}