<nav class="navbar fixed-top p-0" role="navigation" id="navbar">
    {{ if .Site.Params.topbar.enable }}
    <div id="top" class="contact-bar pt-10 pb-10">
        <span class="navbar-brand p-0">
            <div class="container">
                <div class="row">
                    <div class="col-6">
                        {{ .Site.Params.topbar.text | safeHTML }}
                    </div>
                    <div class="col-6">
                        <div class="social">
                            {{ range .Site.Menus.topbar.ByWeight }}
                            <a href="{{ .URL }}" target="_blank" style="opacity: 1;">{{ .Pre }}</a>
                            {{ end }}
                        </div>
                    </div>
                </div>
            </div>
        </span>
    </div>
    {{ end }}

</nav>

<nav class="navbar navbar-expand-lg fixed-top menu-bar">
    <div id="menu" class="container">
        <a class="navbar-brand home p-15 pb-0 m-5" href="{{ .Site.BaseURL }}">
            <img src="{{ .Site.BaseURL }}img/logo.jpg" alt="{{ .Title }} logo">
            <span class="sr-only">{{ .Title }} - {{ i18n "navHome" }}</span>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-menu collapse navbar-collapse navbar-right" id="navbarNavDropdown">
            <ul class="navbar-nav m-0">
                {{ range .Site.Menus.main }}
                
                {{ if .HasChildren }}
                <li class="nav-item dropdown p-10 mt-20">
                    <a href="#" class="nav-link dropdown-toggle m-0 p-0 pb-10 pt-10" 
                        data-toggle="dropdown"
                        role="button" aria-haspopup="true" aria-expanded="false">
                        {{ .Name }}
                        <!-- <span class="caret"></span> -->
                    </a>
                    <ul class="dropdown-menu">
                        {{ range .Children }}
                        <li class="dropdown-item"><a href="{{ .URL }}">{{ .Name }}</a></li>
                        {{ end }}
                    </ul>
                </li>
                
                {{ else }}
                <li class="nav-item p-10 mt-20">
                    <a class="scroll-to nav-link m-0 p-0 pb-10 pt-10" href="{{ .URL }}">{{ .Name }}</a>
                </li>
                {{ end  }}

                {{ end }}
            </ul>
        </div>
    </div>
</nav>

<!-- <nav class="navbar navbar-default navbar-fixed-top" role="navigation" id="navbar">

    {{ if .Site.Params.topbar.enable }}
    <div id="top">
        <div class="container">
            <div class="row">
                <div class="col-xs-6">
                    {{ .Site.Params.topbar.text | safeHTML }}
                </div>
                <div class="col-xs-6">
                    <div class="social">
                        {{ range .Site.Menus.topbar.ByWeight }}
                        <a href="{{ .URL }}" target="_blank" style="opacity: 1;">{{ .Pre }}</a>
                        {{ end }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{ end }}


    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand home p-15 pt-0 pb-0 m-5"
               href="{{ .Site.BaseURL }}">

                <img src="{{ .Site.BaseURL }}img/logo.jpg" alt="{{ .Title }} logo">

                <span class="sr-only">{{ .Title }} - {{ i18n "navHome" }}</span>
            </a>

            <div class="navbar-buttons">
                <button type="button"
                        class="navbar-toggle btn-template-main m-20"
                        data-toggle="collapse" data-target="#navigation">
                    <span class="sr-only">{{ i18n "navToggle" }}</span>
                    <i class="fa fa-align-justify"></i>
                </button>
            </div>
        </div>

        <div class="navbar-collapse collapse" id="navigation">
            <ul class="nav navbar-nav navbar-right">
                {{ range .Site.Menus.main }}
                <li class="dropdown">
                    {{ if .HasChildren }}
                    <a href="#"
                       class="dropdown-toggle m-0 p-0"
                       data-toggle="dropdown"
                       role="button"
                       aria-haspopup="true"
                       aria-expanded="false">
                        {{ .Name }}
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        {{ range .Children }}
                        <li><a href="{{ .URL }}">{{ .Name }}</a></li>
                        {{ end }}
                    </ul>
                    {{ else }}
                    <a class="scroll-to" href="{{ .URL }}">{{ .Name }}</a>
                    {{ end  }}
                </li>
                {{ end }}
            </ul>
        </div>

        <div class="collapse clearfix" id="search">

            <form class="navbar-form" role="search">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search">
                    <span class="input-group-btn">

                        <button type="submit" class="btn btn-template-main"><i class="fa fa-search"></i></button>

                    </span>
                </div>
            </form>

        </div>

    </div>

</nav> -->

<!-- *** NAVBAR END ***-->