<section class="home-slogan-section">
    <div class="home-slogan">
        <div class="dark-mask"></div>
        <div class="container">
                <div class="homepage slogan">
                    <div class="item">
                       <div class="slogan-banner col-sm-12">
                            <h2>Helping businesses deliver their digital strategy with bespoke software</h2>
                        </div>                        
                    </div>
                 </div>       
            </div>
        </div>
    </div>
</section>

