<section class="home-slogan-section mb-0">
    <div class="home-slogan">
        <div class="dark-mask"></div>
        <div class="container">
            <div class="homepage slogan">
                <div class="item">
                    <div class="slogan-banner col-sm-12">
                        <h2>Developing high quality, bespoke software that resolves pressing technical and business needs</h2>
                    </div>                        
                </div>
            </div>       
        </div>
    </div>
</section>

