{{ if isset .Site.Params "tech" }} {{ if .Site.Params.tech.enable }}
<section class="bar background-white no-mb no-mb " id="tech">
    <div class="container">

        <div class="col-md-12">
            <div class="heading text-center">
                <h2>{{ .Site.Params.tech.title }}</h2>
            </div>

            <p class="lead">
                {{ .Site.Params.tech.subtitle | markdownify }}
            </p>

        </div>

        <div class="post">
            <div class="row">
                <div class="col-md-4 peopleprocesstech text-center">
                    <img src="{{ .Site.BaseURL}}/img/tech.png">
                </div>
                <div class="col-md-8 box-simple">
                    <div class="text-left">
                        <p>Elastic Mint are a team of .NET experts each with over 15 years experience in developing software.</p>
                        <p>We have worked on a wide variety of applications ranging from e-commerce sites written in ASP
                            .Net deployed to both AWS and Azure, to small web applications deployed on a single server. We
                            view ourselves as full-stack developers, working on all layers from the UI to the database, and
                            specialising on the backend.
                        </p>
                        <p>We value practices such as Continuous Integration and Deployment, and Test Driven Development,
                            which give rapid feedback on our work and any problems that may arise.
                        </p>


                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <p class="read-more text-center">
                        <a href="{{ .Site.BaseURL }}/#contact" class="btn btn-template-main-blue scroll-to">Start a conversation</a>
                    </p>
                </div>
            </div>
        </div>


    </div>

    </div>
    <!-- /.container -->
</section>
<!-- /.bar -->
{{ end }} {{ end }}