<footer class="row">


	<div class="inside">

		<div class="row footer-top">

			<div class="footer-t-left">

				<a href="/" class="logo">
					<img src="/wp-content/themes/ElasticMint/images/logo-white.png" alt="Elastic Mint">
				</a>

				<span>
					Based in Bristol, UK				</span>

			</div>

			<div class="footer-t-right">


				<div class="social-links">




						<a target="_blank" href="https://www.linkedin.com/company/elastic-mint-ltd/" title="Linkedin"><i class="fa fab fa-linkedin-in"></i></a>





						<a target="_blank" href="https://twitter.com/elasticmint" title="Twitter"><i class="fa fab fa-twitter"></i></a>





						<a target="_blank" href="mailto:info@elasticmint.com" title="Email"><i class="fa fas fa-envelope"></i></a>

									</div>

			</div>

		</div>

   	<div class="marg">

			<div class="twenty">

				<div class="row footer-title">
					About
				</div>

				<ul class="footer-menu"><nav class="menu-footer-about-menu-container"><ul id="menu-footer-about-menu" class="menu"><li id="menu-item-24" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-24"><a href="/about/values.html">Our values</a></li>
<li id="menu-item-27" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-27"><a href="/about/history.html">History</a></li>
<li id="menu-item-25" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-25"><a href="/about/how-we-work.html">How we work</a></li>
<li id="menu-item-143" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-143"><a href="/about/leadership.html">Leadership team</a></li>
</ul></nav></ul>

			</div>

			<div class="fourty">

				<div class="row footer-title">
					Services
				</div>

				<ul class="footer-menu"><nav class="menu-footer-services-menu-container"><ul id="menu-footer-services-menu" class="menu"><li id="menu-item-36" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-36"><a href="/services/tech-leadership.html">Tech Leadership</a></li>
<li id="menu-item-37" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-37"><a href="/services/consultancy.html">Technology Consultancy</a></li>
<li id="menu-item-35" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-35"><a href="/services/software-development.html">Software Development</a></li>
</ul></nav></ul>

			</div>

			<div class="twenty">

				<div class="row footer-title">
					Expertise
				</div>

				<ul class="footer-menu"><nav class="menu-footer-expertise-menu-container"><ul id="menu-footer-expertise-menu" class="menu"><li id="menu-item-38" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-38"><a href="/expertise/net.html">.Net and Azure</a></li>
<li id="menu-item-39" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-39"><a href="/expertise/agile.html">Agile Methodologies</a></li>
<li id="menu-item-40" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-40"><a href="/expertise/api-design.html">API Design</a></li>
<li id="menu-item-41" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-41"><a href="/expertise/databases.html">Database Technologies</a></li>
</ul></nav></ul>

			</div>

			<div class="twenty">

				<ul class="footer-menu larger"><nav class="menu-footer-final-menu-container"><ul id="menu-footer-final-menu" class="menu"><li id="menu-item-23" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-23"><a href="/case-studies.html">Case Studies</a></li>
<li id="menu-item-21" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-21"><a href="/contact.html">Contact</a></li>
<li id="menu-item-409" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-privacy-policy menu-item-409"><a rel="privacy-policy" href="/privacy-policy.html">Privacy Policy</a></li>
</ul></nav></ul>

			</div>

		</div>

		<div class="row copy">

			<div class="copy-left">
				Copyright &copy; 2025 Elastic Mint Ltd. All rights reserved.
			</div>

			<div class="copy-right">
				Website Design and Development by <a href="http://auburn.co.uk/" target="_blank">Auburn Creative</a>.
			</div>

		</div>

  </div>

</footer>
