<footer class="row">


	<div class="inside">

		<div class="row footer-top">

			<div class="footer-t-left">

				<a href="/" class="logo">
					<img src="/wp-content/themes/ElasticMint/images/logo-white.png" alt="Elastic Mint">
				</a>

				<span>
					Based in Bristol, UK				</span>

			</div>

			<div class="footer-t-right">


				<div class="social-links">




						<a target="_blank" href="https://www.linkedin.com/company/elastic-mint-ltd/" title="Linkedin"><svg width="1em" height="1em" viewBox="0 0 448 512" fill="currentColor" aria-hidden="true"><path d="M100.28 448H7.4V148.9h92.88zM53.79 108.1C24.09 108.1 0 83.5 0 53.8a53.79 53.79 0 0 1 107.58 0c0 29.7-24.1 54.3-53.79 54.3zM447.9 448h-92.68V302.4c0-34.7-.7-79.2-48.29-79.2-48.29 0-55.69 37.7-55.69 76.7V448h-92.78V148.9h89.08v40.8h1.3c12.4-23.5 42.69-48.3 87.88-48.3 94 0 111.28 61.9 111.28 142.3V448z"/></svg></a>





						<a target="_blank" href="https://twitter.com/elasticmint" title="Twitter"><svg width="1em" height="1em" viewBox="0 0 512 512" fill="currentColor" aria-hidden="true"><path d="M459.37 151.716c.325 4.548.325 9.097.325 13.645 0 138.72-105.583 298.558-298.558 298.558-59.452 0-114.68-17.219-161.137-47.106 8.447.974 16.568 1.299 25.34 1.299 49.055 0 94.213-16.568 130.274-44.832-46.132-.975-84.792-31.188-98.112-72.772 6.498.974 12.995 1.624 19.818 1.624 9.421 0 18.843-1.3 27.614-3.573-48.081-9.747-84.143-51.98-84.143-102.985v-1.299c13.969 7.797 30.214 12.67 47.431 13.319-28.264-18.843-46.781-51.005-46.781-87.391 0-19.492 5.197-37.36 14.294-52.954 51.655 63.675 129.3 105.258 216.365 109.807-1.624-7.797-2.599-15.918-2.599-24.04 0-57.828 46.782-104.934 104.934-104.934 30.213 0 57.502 12.67 76.67 33.137 23.715-4.548 46.456-13.319 66.599-25.34-7.798 24.366-24.366 44.833-46.132 57.827 21.117-2.273 41.584-8.122 60.426-16.243-14.292 20.791-32.161 39.308-52.628 54.253z"/></svg></a>





						<a target="_blank" href="mailto:info@elasticmint.com" title="Email"><svg width="1em" height="1em" viewBox="0 0 512 512" fill="currentColor" aria-hidden="true"><path d="M464 64H48C21.49 64 0 85.49 0 112v288c0 26.51 21.49 48 48 48h416c26.51 0 48-21.49 48-48V112c0-26.51-21.49-48-48-48zm0 48v40.805c-22.422 18.259-58.168 46.651-134.587 106.49-16.841 13.247-50.201 45.072-73.413 44.701-23.208.375-56.579-31.459-73.413-44.701C106.18 199.465 70.425 171.067 48 152.805V112h416zM48 400V214.398c22.914 18.251 55.409 43.862 104.938 82.646 21.857 17.205 60.134 55.186 103.062 54.955 42.717.231 80.509-37.199 103.053-54.947 49.528-38.783 82.032-64.401 104.947-82.653V400H48z"/></svg></a>

									</div>

			</div>

		</div>

   	<div class="marg">

			<div class="twenty">

				<div class="row footer-title">
					About
				</div>

				<ul class="footer-menu"><nav class="menu-footer-about-menu-container"><ul id="menu-footer-about-menu" class="menu"><li id="menu-item-24" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-24"><a href="/about/values.html">Our values</a></li>
<li id="menu-item-27" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-27"><a href="/about/history.html">History</a></li>
<li id="menu-item-25" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-25"><a href="/about/how-we-work.html">How we work</a></li>
<li id="menu-item-143" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-143"><a href="/about/leadership.html">Leadership team</a></li>
</ul></nav></ul>

			</div>

			<div class="fourty">

				<div class="row footer-title">
					Services
				</div>

				<ul class="footer-menu"><nav class="menu-footer-services-menu-container"><ul id="menu-footer-services-menu" class="menu"><li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="/fractional-cto.html">Fractional CTO</a></li>
<li id="menu-item-36" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-36"><a href="/services/tech-leadership.html">Tech Leadership</a></li>
<li id="menu-item-37" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-37"><a href="/services/consultancy.html">Technology Consultancy</a></li>
<li id="menu-item-35" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-35"><a href="/services/software-development.html">Software Development</a></li>
</ul></nav></ul>

			</div>

			<div class="twenty">

				<div class="row footer-title">
					Expertise
				</div>

				<ul class="footer-menu"><nav class="menu-footer-expertise-menu-container"><ul id="menu-footer-expertise-menu" class="menu"><li id="menu-item-38" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-38"><a href="/expertise/net.html">.Net and Azure</a></li>
<li id="menu-item-39" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-39"><a href="/expertise/agile.html">Agile Methodologies</a></li>
<li id="menu-item-40" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-40"><a href="/expertise/api-design.html">API Design</a></li>
<li id="menu-item-41" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-41"><a href="/expertise/databases.html">Database Technologies</a></li>
</ul></nav></ul>

			</div>

			<div class="twenty">

				<ul class="footer-menu larger"><nav class="menu-footer-final-menu-container"><ul id="menu-footer-final-menu" class="menu"><li id="menu-item-23" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-23"><a href="/case-studies.html">Case Studies</a></li>
<li id="menu-item-21" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-21"><a href="/contact.html">Contact</a></li>
<li id="menu-item-409" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-privacy-policy menu-item-409"><a rel="privacy-policy" href="/privacy-policy.html">Privacy Policy</a></li>
</ul></nav></ul>

			</div>

		</div>

		<div class="row copy">

			<div class="copy-left">
				Copyright &copy; 2025 Elastic Mint Ltd. All rights reserved.
			</div>

			<div class="copy-right">
				Website Design and Development by <a href="http://auburn.co.uk/" target="_blank">Auburn Creative</a>.
			</div>

		</div>

  </div>

</footer>
