<header class="row header-bar">

	<div class="row inner-head">

		<a href="/" class="logo head">
			<img src="/wp-content/themes/ElasticMint/images/logo.png" alt="Elastic Mint">
		</a>

		<div class="head-right">

			<div class="row">
			</div>

			<div class="row">

				<div class="mobile-menu-open">
					<span></span>
					<span></span>
					<span></span>
					<span></span>
				</div>

				<a href="/contact.html" class="button green contact-head"><i class="fa fas fa-envelope"></i> <span>Contact</span></a>

				<div class="wrap-search">

					<div class="button white open-search">
						<i class="fa fa-search"></i>
					</div>

						<form method="get" id="searchform" action="https://www.elasticmint.com/">
		<input type="text" class="field" name="s" id="s" placeholder="Search" />
			</form>

					<div class="close-search">
						<i class="fas fa-times"></i>
					</div>

				</div>

				<div class="menu">

					<nav class="menu-main-menu-container"><ul id="menu-main-menu" class="menu"><li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="/fractional-cto.html">Fractional CTO</a></li>
<li id="menu-item-346" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-346"><a href="/about.html">About</a>
<ul class="sub-menu">
	<li id="menu-item-294" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-294"><a href="/about/values.html">Our values</a></li>
	<li id="menu-item-297" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-297"><a href="/about/history.html">History</a></li>
	<li id="menu-item-295" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-295"><a href="/about/how-we-work.html">How we work</a></li>
	<li id="menu-item-296" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-296"><a href="/about/leadership.html">Leadership team</a></li>
</ul>
</li>
<li id="menu-item-86" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-86"><a href="/services.html">Services</a>
<ul class="sub-menu">
	<li id="menu-item-291" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-291"><a href="/services/tech-leadership.html">Tech Leadership</a></li>
	<li id="menu-item-292" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-292"><a href="/services/consultancy.html">Technology Consultancy</a></li>
	<li id="menu-item-293" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-293"><a href="/services/software-development.html">Software Development</a></li>
</ul>
</li>
<li id="menu-item-85" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-85"><a href="/expertise.html">Expertise</a>
<ul class="sub-menu">
	<li id="menu-item-290" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-290"><a href="/expertise/net.html">.Net and Azure</a></li>
	<li id="menu-item-287" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-287"><a href="/expertise/agile.html">Agile Methodologies</a></li>
	<li id="menu-item-288" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-288"><a href="/expertise/api-design.html">API Design</a></li>
	<li id="menu-item-289" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-289"><a href="/expertise/databases.html">Database Technologies</a></li>
</ul>
</li>
<li id="menu-item-84" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-84"><a href="/case-studies.html">Case Studies</a></li>
<li id="menu-item-573" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-573"><a href="/blog.html">Blog</a></li>
</ul></nav>
				</div>

			</div>

		</div>

  </div>
  <!-- .inside -->

</header>
<!-- #header-bar -->
