<nav id="menu-h">

        <ul>
				<li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="{{ prefix }}fractional-cto/index.html"><span>Fractional CTO</span><span class="open-sub"></span></a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-346"><a href="{{ prefix }}about/index.html"><span>About</span><span class="open-sub"></span></a>
<ul class="sub-menu">
	<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-294"><a href="{{ prefix }}about/our-values/index.html"><span>Our values</span><span class="open-sub"></span></a></li>
	<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-297"><a href="{{ prefix }}about/history/index.html"><span>History</span><span class="open-sub"></span></a></li>
	<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-295"><a href="{{ prefix }}about/how-we-work/index.html"><span>How we work</span><span class="open-sub"></span></a></li>
	<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-296"><a href="{{ prefix }}about/leadership-team/index.html"><span>Leadership team</span><span class="open-sub"></span></a></li>
</ul>
</li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-86"><a href="{{ prefix }}services/index.html"><span>Services</span><span class="open-sub"></span></a>
<ul class="sub-menu">
	<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-291"><a href="{{ prefix }}services/distributed-team-leadership-management/index.html"><span>Tech Leadership</span><span class="open-sub"></span></a></li>
	<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-292"><a href="{{ prefix }}services/technology-consultancy/index.html"><span>Technology Consultancy</span><span class="open-sub"></span></a></li>
	<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-293"><a href="{{ prefix }}services/bespoke-software-development/index.html"><span>Software Development</span><span class="open-sub"></span></a></li>
</ul>
</li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-85"><a href="{{ prefix }}expertise/index.html"><span>Expertise</span><span class="open-sub"></span></a>
<ul class="sub-menu">
	<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-290"><a href="{{ prefix }}expertise/net/index.html"><span>.Net and Azure</span><span class="open-sub"></span></a></li>
	<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-287"><a href="{{ prefix }}expertise/agile-process/index.html"><span>Agile Methodologies</span><span class="open-sub"></span></a></li>
	<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-288"><a href="{{ prefix }}expertise/api-design/index.html"><span>API Design</span><span class="open-sub"></span></a></li>
	<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-289"><a href="{{ prefix }}expertise/database-technologies/index.html"><span>Database Technologies</span><span class="open-sub"></span></a></li>
</ul>
</li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-84"><a href="{{ prefix }}case-studies/index.html"><span>Case Studies</span><span class="open-sub"></span></a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-573"><a href="{{ prefix }}blog/index.html"><span>Blog</span><span class="open-sub"></span></a></li>
<li><a href="{{ prefix }}contact/index.html">Contact</a></li>
        </ul>

</nav>
