<nav id="menu-h">

        <ul>
				<li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="fractional-cto/index.html"><span>Fractional CTO</span><span class="open-sub"></span></a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-346"><a href="about/index.html"><span>About</span><span class="open-sub"></span></a>
<ul class="sub-menu">
	<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-294"><a href="about/our-values/index.html"><span>Our values</span><span class="open-sub"></span></a></li>
	<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-297"><a href="about/history/index.html"><span>History</span><span class="open-sub"></span></a></li>
	<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-295"><a href="about/how-we-work/index.html"><span>How we work</span><span class="open-sub"></span></a></li>
	<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-296"><a href="about/leadership-team/index.html"><span>Leadership team</span><span class="open-sub"></span></a></li>
</ul>
</li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-86"><a href="services/index.html"><span>Services</span><span class="open-sub"></span></a>
<ul class="sub-menu">
	<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-291"><a href="services/distributed-team-leadership-management/index.html"><span>Tech Leadership</span><span class="open-sub"></span></a></li>
	<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-292"><a href="services/technology-consultancy/index.html"><span>Technology Consultancy</span><span class="open-sub"></span></a></li>
	<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-293"><a href="services/bespoke-software-development/index.html"><span>Software Development</span><span class="open-sub"></span></a></li>
</ul>
</li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-85"><a href="expertise/index.html"><span>Expertise</span><span class="open-sub"></span></a>
<ul class="sub-menu">
	<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-290"><a href="expertise/net/index.html"><span>.Net and Azure</span><span class="open-sub"></span></a></li>
	<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-287"><a href="expertise/agile-process/index.html"><span>Agile Methodologies</span><span class="open-sub"></span></a></li>
	<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-288"><a href="expertise/api-design/index.html"><span>API Design</span><span class="open-sub"></span></a></li>
	<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-289"><a href="expertise/database-technologies/index.html"><span>Database Technologies</span><span class="open-sub"></span></a></li>
</ul>
</li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-84"><a href="case-studies/index.html"><span>Case Studies</span><span class="open-sub"></span></a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-573"><a href="blog/index.html"><span>Blog</span><span class="open-sub"></span></a></li>
<li><a href="contact/index.html">Contact</a></li>
        </ul>

</nav>
