<nav id="menu-h">

        <ul>
				<li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="/"><span>Home</span><span class="open-sub"></span></a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children"><a href="/about.html"><span>About</span><span class="open-sub"></span></a>
<ul class="sub-menu">
	<li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="/about.html#our-values"><span>Our values</span><span class="open-sub"></span></a></li>
	<li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="/about.html#history"><span>History</span><span class="open-sub"></span></a></li>
	<li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="/about.html#how-we-work"><span>How we work</span><span class="open-sub"></span></a></li>
	<li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="/about.html#team"><span>Leadership team</span><span class="open-sub"></span></a></li>
</ul>
</li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children"><a href="/services.html"><span>Services</span><span class="open-sub"></span></a>
<ul class="sub-menu">
	<li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="/fractional-cto.html"><span>Fractional CTO</span><span class="open-sub"></span></a></li>
	<li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="/services/consultancy.html"><span>Technology Consultancy</span><span class="open-sub"></span></a></li>
	<li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="/services/software-development.html"><span>Software Development</span><span class="open-sub"></span></a></li>
</ul>
</li>
<li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="/ai.html"><span>AI</span><span class="open-sub"></span></a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="/case-studies.html"><span>Case Studies</span><span class="open-sub"></span></a></li>
<li><a href="/contact.html">Contact</a></li>
        </ul>

</nav>
