/* your styles go here */

.box-image-text .image {
  min-height: 200px;
  max-height: 200px;
}

.box-simple {
  min-height: 250px;
}

.box-image-text.blog .content h4 {
  height: 75px;
}

.box-image-text.blog .intro {
  height: 200px;
  overflow-y: hidden;
}

.panel-heading {
  padding-left: 0;
}

.btn-template-main-blue {
  color: #ffffff;
  border-color: #ffffff;
  background-color: #38a7bb;
}
.btn-template-main-blue:hover,
.btn-template-main-blue:focus,
.btn-template-main-blue:active,
.btn-template-main-blue.active,
.open > .dropdown-toggle.btn-template-main-blue {
  color: #38a7bb;
  border-color: #38a7bb;
  background-color: #ffffff;
}

.recaptcha-panel {margin: 20px 0;}