/* your styles go here */

.box-image-text .image {
  min-height: 200px;
  max-height: 200px;
}

.box-simple {
  min-height: 250px;
}

.box-image-text.blog .content h4 {
  height: 75px;
}

.box-image-text.blog .intro {
  height: 200px;
  overflow-y: hidden;
}