<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

{{ partial "head.html" . }}

<body>
    <div id="all">
        <header>
            {{ partial "nav.html" . }}
        </header>

        {{ partial "slogan.html" . }}

        {{ partial "whychooseelasticmint.html" . }}

        {{ partial "whatpeoplesay.html" . }} 

        {{ partial "recent_posts.html" .}}
        
        {{ partial "contact.html" . }}

        {{ partial "footer.html" . }}

    </div>

  {{ partial "scripts.html" . }}

</body>
</html>