/* your styles go here */

.box-image-text .image {
  min-height: 200px;
  max-height: 200px;
}

.box-simple {
  min-height: 250px;
}

.box-image-text.blog .content h4 {
  height: 75px;
}

.box-image-text.blog .intro {
  height: 200px;
  overflow-y: hidden;
}

@media (min-width: 1200px) {
  .box-image-text.blog .content .author-category {
    margin-top: 30px;
  }
}

@media (min-width: 992px) {
  .box-image-text.blog .content .author-category {
    margin-top: 36px;
  }

  .vertical-align {
    display: flex;
    align-items: center;
  }
}

@media (max-width: 992px) {
  .offering-help {
    margin-top: 20px;
  }
}

.offering {
  margin-bottom: 40px;
}

.offering-help {
  font-weight: bold;
  text-transform: uppercase;
}

.offering-need > ul > li {
  padding: 10px 0;
}

.panel-heading {
  padding-left: 0;
}

.btn-template-main-blue {
  color: #ffffff;
  border-color: #ffffff;
  background-color: #38a7bb;
}
.btn-template-main-blue:hover,
.btn-template-main-blue:focus,
.btn-template-main-blue:active,
.btn-template-main-blue.active,
.open > .dropdown-toggle.btn-template-main-blue {
  color: #38a7bb;
  border-color: #38a7bb;
  background-color: #ffffff;
}

.recaptcha-panel {
  margin: 20px 0;
}

.home-slogan-section {
  margin-bottom: 0;
}