/* your styles go here */

a {
  color: #18cc9c;
  text-decoration: none;
}

#heading-breadcrumbs .title h1 {
  color: #fff;
  text-transform: uppercase;
  font-size: 40px;
}

.box-image-text .image {
  min-height: 200px;
  max-height: 200px;
}

.box-simple {
  min-height: 250px;
}

.box-image-text.blog .content h4 {
  height: 75px;
}

.box-image-text.blog .intro {
  height: 200px;
  overflow-y: hidden;
}

@media (min-width: 1200px) {
  .box-image-text.blog .content .author-category {
    margin-top: 30px;
  }
}

@media (min-width: 992px) {
  .box-image-text.blog .content .author-category {
    margin-top: 36px;
  }

  .vertical-align {
    display: flex;
    align-items: center;
  }
}

@media (max-width: 992px) {
  .offering-help {
    margin-top: 20px;
  }
}

.offering {
  margin-bottom: 40px;
}

.offering-help {
  font-weight: bold;
  text-transform: uppercase;
}

.offering-need > ul > li {
  padding: 10px 0;
}

.panel-heading {
  padding-left: 0;
}

.navbar ul.nav > li > a {
  margin: 0px;
}

.navbar-default .navbar-nav > li > a:active,
.navbar-default .navbar-nav > li > a:focus {
  color: #18CC9C;
  background-color: white;
}

.navbar ul.nav > li > a:hover {
  background-color: white;
  border-top: solid 1px #ffffff;
  text-decoration: underline;
  color: #18CC9C;
}


.btn-template-main-blue {
  color: #ffffff;
  border-color: #ffffff;
  background-color: #18CC9C;
}
.btn-template-main-blue:hover,
.btn-template-main-blue:focus,
.btn-template-main-blue:active,
.btn-template-main-blue.active,
.open > .dropdown-toggle.btn-template-main-blue {
  color: #18CC9C;
  border-color: aquamarine;
  background-color: #ffffff;
}

.recaptcha-panel {
  margin: 20px 0;
}

.home-slogan-section {
  margin-bottom: 0;
}

.dark-mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.7;
  background: radial-gradient(circle at 6.7% 75%, rgb(132,215,207), rgba(24,204,156) 70.71%) #18CC9C;
}

@media (min-width: 1200px) {
  .navbar-nav > li > a {
    padding: 60px 10px;
  }
}

a.navbar-brand.home img  {
  width: 100px;
}

@media (min-width: 768px) {
  a.navbar-brand.home img  {
    width: 200px;
  }
}

.affix-top a.navbar-brand.home img {
  margin: 10px 0 0;
}

.affix a.navbar-brand.home img {
  margin: 0 0;
}

.navbar-brand {
  float: left;
  font-size: 18px;
  height: auto;
  margin: 5px;
}

#top {
  background-color: black;
}

.bar.background-mint {
  background: #84d7cf;
  color: black;
}

.bar.background-mint a {
  color: black;
}

#footer {
  background-color: black;
}


#copyright {
  color: aquamarine;
  background-color: black;
  border-top: solid 1px #2d2d2d;
}

.no-pb {
  padding-bottom: 0;
}

.heading h1,
.heading h2,
.heading h3,
.heading h4,
.heading h5 {
  border-bottom: solid 5px #18CC9C;
}

.testimonial-quote {
  margin: 20px;
}
.testimonial-quote em { font-style: italic; margin-left: 10px;}
 .testimonial-name {padding-bottom: 20px;}
 .tech-stats
{
  margin-top: 50px;
}
 .tech-stats img { width: 350px;} 

 .box-text {
  margin-bottom: 20px; padding: 10px; min-height: 160px;
  color: #555;
 }

 .deliver {background-color: #18CC9C}
 .automate {background-color: aquamarine}
 .engage {background-color: #84d7cf}
 
 @media (min-width: 768px) {
  #heading-breadcrumbs,
  .home-slogan {
    padding: 80px;
  }
}


.slogan-banner h2 { color: white; font-size: 24px; text-transform: uppercase;}

@media (min-width: 768px) {
  .slogan-banner h2 { font-size: 40px;}
}

.peopleprocesstech img { height: 200px;}

@media (min-width: 768px) {
  .peopleprocesstech img {
    height: 300px;
  }
}

