---
layout: base.njk
permalink: 404.html
title: 'Page not found - Elastic Mint'
description: 'The page you are looking for has moved or no longer exists. Find your way back to the rest of the Elastic Mint site.'
canonical: 'https://www.elasticmint.com/404.html'
ogType: 'website'
ogTitle: 'Page not found - Elastic Mint'
ogDescription: 'The page you are looking for has moved or no longer exists.'
ogUrl: 'https://www.elasticmint.com/404.html'
bodyClass: 'wp-singular page-template page-template-404 wp-theme-ElasticMint singular'
noindex: true
---
{% raw %}
<div class="row hero">

	<div class="hero-bg row aos-init aos-animate" data-aos="zoom-in" style="background-image: url(/wp-content/uploads/2021/01/service-top.png);">

		<div class="inside">

			<div class="row hero-wrap">

				<div class="hero-content">


					<h4>404</h4>

					<h1>Page not found</h1>

					The page you&#8217;re looking for has moved or no longer exists. Here are some places you might be heading.
				</div>

			</div>

		</div>

	</div>

	<div class="to-services row">

	</div>

</div>

<div class="row service-intro">

	<div class="inside">

		<div class="make-shorter aos-init aos-animate" data-aos="fade-up">

			<h2>Try one of these</h2>

			<ul>
				<li><a href="/">Home</a></li>
				<li><a href="/about.html">About Elastic Mint</a></li>
				<li><a href="/services.html">Our services</a></li>
				<li><a href="/ai.html">How we use AI</a></li>
				<li><a href="/case-studies.html">Case studies</a></li>
				<li><a href="/contact.html">Get in touch</a></li>
			</ul>

		</div>

	</div>

</div>

<div class="row standard-content cta">

	<div class="inside">

		<div class="wrap-content">

			<h4 class="aos-init aos-animate" data-aos="fade-down">Need help?</h4>

			<h2 class="aos-init aos-animate" data-aos="fade-up">Start a conversation</h2>

			<a class="aos-init aos-animate button green" data-aos="fade-down" href="/contact.html" target="_self">Contact us</a>

		</div>

	</div>

</div>
{% endraw %}
