---
layout: base.njk
permalink: contact.html
title: 'Contact Us: Bristol Software Development - Elastic Mint'
description: 'Get in touch with Elastic Mint in Bristol. Book a free consultation or email us to discuss your bespoke software development project.'
canonical: 'https://www.elasticmint.com/contact.html'
ogType: 'article'
ogTitle: 'Contact Us: Bristol Software Development - Elastic Mint'
ogDescription: 'Get in touch with Elastic Mint in Bristol. Book a free consultation or email us to discuss your bespoke software development project.'
ogUrl: 'https://www.elasticmint.com/contact.html'
articleModifiedTime: '2026-08-19T12:00:00+00:00'
bodyClass: 'wp-singular page-template-default page page-id-20 wp-theme-ElasticMint singular'
pageId: '20'
pageType: 'pages'
schemaGraph: '{"@context":"https://schema.org","@graph":[{"@type":"WebPage","@id":"https://www.elasticmint.com/contact.html","url":"https://www.elasticmint.com/contact.html","name":"Contact Us: Bristol Software Development - Elastic Mint","isPartOf":{"@id":"https://www.elasticmint.com/#website"},"datePublished":"2021-01-08T13:39:10+00:00","dateModified":"2026-08-19T12:00:00+00:00","breadcrumb":{"@id":"https://www.elasticmint.com/contact.html#breadcrumb"},"inLanguage":"en-GB"},{"@type":"BreadcrumbList","@id":"https://www.elasticmint.com/contact.html#breadcrumb","itemListElement":[{"@type":"ListItem","position":1,"name":"Home","item":"https://www.elasticmint.com/"},{"@type":"ListItem","position":2,"name":"Contact"}]}]}'
---
{% raw %}
<div class="row standard-content ">

	<div class="inside">
		
		<div class="wrap-content aos-init aos-animate" data-aos="fade-down">
			<h4>Contact</h4>
<h1>Get in touch</h1>
<p>Book a 30-minute call or send us an email. The first conversation is free, and there&#8217;s no obligation on either side.</p>

<div class="aos-init aos-animate" data-aos="fade-down" style="margin-top: 3rem; margin-bottom: 3rem;">
	<a class="button green" href="https://calendly.com/andy-garner-elasticmint/30min" target="_blank" style="margin: 0.5rem;">Book a Meeting</a>
	<a class="button green" href="mailto:info@elasticmint.com" style="margin: 0.5rem;">Send an Email</a>
</div>

<p>We&#8217;re a remote team working with clients across the UK and internationally, offering bespoke software development, technology consultancy and fractional CTO support.</p>
<p>Whether you have a defined project in mind, a problem you&#8217;re not yet sure how to solve, or you simply want to find out whether Elastic Mint might be a good fit, we welcome the conversation. We&#8217;ll listen to what you&#8217;re trying to do, ask questions to understand the constraints, and only suggest a way forward if we&#8217;re confident we can help. There&#8217;s no hard sell, and we&#8217;re happy to sign an NDA if you want to discuss anything sensitive.</p>
<p>The earlier we&#8217;re brought into the conversation, the more useful we tend to be. We aim to respond to all enquiries within two working days.</p>
		</div>
			
	</div>
	
</div>
{% endraw %}